In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [5]:
Age=['6','3','5','2','4','5','5','6','8','6','7','7']
Mileage=['69000','35000','57000','22500','46000','59000','52000','72000','91000','67000','83000','79000']
Price=['18000','34000','26100','40000','31500','29400','32000','19300','12000','22000','20000','21000']
Car_Model=['BMW X5','BMW X5','BMW X5','BMW X5','BMW X5','Audi A5','Audi A5','Audi A5','Audi A5','Mercedez','Mercedez','Mercedez']

In [6]:
data = pd.DataFrame({'Car_Model':Car_Model,'Mileage':Mileage,'Price':Price,'Age':Age})

In [7]:
data

   Car_Model Mileage  Price Age
0     BMW X5   69000  18000   6
1     BMW X5   35000  34000   3
2     BMW X5   57000  26100   5
3     BMW X5   22500  40000   2
4     BMW X5   46000  31500   4
5    Audi A5   59000  29400   5
6    Audi A5   52000  32000   5
7    Audi A5   72000  19300   6
8    Audi A5   91000  12000   8
9   Mercedez   67000  22000   6
10  Mercedez   83000  20000   7
11  Mercedez   79000  21000   7

In [8]:
dumie = pd.get_dummies(data.Car_Model)

In [9]:
dumie

    Audi A5  BMW X5  Mercedez
0         0       1         0
1         0       1         0
2         0       1         0
3         0       1         0
4         0       1         0
5         1       0         0
6         1       0         0
7         1       0         0
8         1       0         0
9         0       0         1
10        0       0         1
11        0       0         1

In [11]:
data = pd.concat([data,dumie],axis ='columns')

In [12]:
data

   Car_Model Mileage  Price Age  Audi A5  BMW X5  Mercedez
0     BMW X5   69000  18000   6        0       1         0
1     BMW X5   35000  34000   3        0       1         0
2     BMW X5   57000  26100   5        0       1         0
3     BMW X5   22500  40000   2        0       1         0
4     BMW X5   46000  31500   4        0       1         0
5    Audi A5   59000  29400   5        1       0         0
6    Audi A5   52000  32000   5        1       0         0
7    Audi A5   72000  19300   6        1       0         0
8    Audi A5   91000  12000   8        1       0         0
9   Mercedez   67000  22000   6        0       0         1
10  Mercedez   83000  20000   7        0       0         1
11  Mercedez   79000  21000   7        0       0         1

In [14]:
data = data.drop(['Car_Model','Mercedez'],axis='columns')

In [15]:
data.head()

  Mileage  Price Age  Audi A5  BMW X5
0   69000  18000   6        0       1
1   35000  34000   3        0       1
2   57000  26100   5        0       1
3   22500  40000   2        0       1
4   46000  31500   4        0       1

In [16]:
x = data.drop('Price', axis='columns')

In [18]:
y = data.Price

In [19]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.1)

In [20]:
model = LinearRegression()

In [21]:
model.fit(x_train,y_train)

LinearRegression()

In [22]:
y_pred = model.predict(x_train)

In [23]:
y_pred

array([40269.44426389, 12331.61520962, 19167.58531037, 19939.14852129,
       29574.1761456 , 20428.78778031, 30539.59701007, 34488.79428014,
       25431.12122197, 17629.73025674])

In [24]:
model.score(x,y)

0.9470473465172747

In [25]:
model.coef_

array([-5.77354566e-01,  1.43628209e+03, -2.11556061e+03, -5.10882678e+03])

In [26]:
model.intercept_

55496.18459538512